{% extends 'blog/base.html' %}
{% load static %}
{% load my_tags %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/post_single.css' %}">
{% endblock css %}

{% block card %}
<div class="bg-white p-2">
    <small > <a href="{% url 'cat_archives' post.category.slug %}">{{post.category.title}}</a> </small>
    <h4 class="text-dark">{{post.title}}</h4>
    <small class="d-block">{% if settings.author %} {{post.author}} {% endif %}  </small>
    <small>{{post.publish_time|date}}</small>
    <img src="{{post.image.url}}" alt="{{post.category.title}}" class="w-100 my-3">
    <p style="text-align: justify;" class="my-3 text-dark">
        {{post.content}}
    </p>

    {% if settings.allow_discussion %}
        {% if request.user.is_authenticated %}
            <h2>نظرتان را اینجا بنویسید</h2>
            <form id="myForm" method="post" >
                {{comment_form.as_p}}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg btn-block">ارسال</button>
            </form>
        {% endif %}
    {% endif %}
    {% if settings.comment %}
        {% with allcomments.count as total_comments%}
            {{total_comments}} نظر
        {% endwith %}

        {% load mptt_tags %}    
        <div class="pt-5" id="post_comments">
            {% recursetree page_comments %}
            <div id="{{node.id}}" class="my-2 p-2" style="border: 1px solid grey">
                <div class="d-flex justify-content-between">
                    <div><small>{{node.name}}</small></div>
                    <div><small>{{node.publish|date}}</small></div>
                </div>
                <span class="badge badge-success my-3" id="like_{{node.id}}">Likes {{likes|get_item:node.id}} </span>
                <span class="badge badge-danger m-3" id="dislike_{{node.id}}">Dislikes {{dislikes|get_item:node.id}} </span>
                <div class="text-dark">{{ node.content }}</div>

                
                {% if request.user.is_authenticated %}
                {% if author_likes|get_item:node.id %}
                <button class="btn btn-success my-3" id="like_btn_{{node.id}}" onclick="like({{node.id}}, 'like')" disabled>Like</button>
                <button class="btn btn-outline-danger m-3" id="dislike_btn_{{node.id}}" onclick="like({{node.id}}, 'dislike')" disabled>Dislike</button>
                {% elif author_dislikes|get_item:node.id %}
                <button class="btn btn-outline-success my-3" id="like_btn_{{node.id}}" onclick="like({{node.id}}, 'like')" disabled>Like</button>
                <button class="btn btn-danger m-3" id="dislike_btn_{{node.id}}" onclick="like({{node.id}}, 'dislike')" disabled>Dislike</button>
                {% else %}
                <button class="btn btn-outline-success my-3" id="like_btn_{{node.id}}" onclick="like({{node.id}}, 'like')">Like</button>
                <button class="btn btn-outline-danger m-3" id="dislike_btn_{{node.id}}" onclick="like({{node.id}}, 'dislike')">Dislike</button>
                {% endif %}
                {% else %}
                <button class="btn btn-outline-success my-3" id="like_btn_{{node.id}}" onclick="like({{node.id}}, 'like')">Like</button>
                <button class="btn btn-outline-danger m-3" id="dislike_btn_{{node.id}}" onclick="like({{node.id}}, 'dislike')">Dislike</button>
                {% endif %}

                <hr>
                {% if node.level < 4 %}
                    <button class="btn btn-success" onclick="myFunction({{ node.id }})">جواب</button>
                {% endif %}
            
                {% if not node.is_lead_node %}
                <div class="children pl-2 -l-md-5">
                    {{children}}
                </div>
            </div>
            {% endif %}
            {% endrecursetree %}
        </div>

        <div class="py-4">
        <nav aria-label="Page navigation example">
          {% if page_comments.has_other_pages %}
          <ul class="pagination">
            {% if page_comments.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_comments.previous_page_number }}">قبلی</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">قبلی</a></li>
            {% endif %}
            {% for num in page_comments.paginator.page_range %}
            {% if page_comments.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_comments.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_comments.next_page_number }}">بعدی</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">بعدی</a></li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
      </div>
    {% endif %}
</div>

{% endblock card %}

{% block javascript %}
<script>

    document.getElementById("myForm").addEventListener("submit", function (event) { 
      event.preventDefault();
      const content = $("#id_content").val();
      const email = $("#id_email").val();
      const name = $("#id_name").val();
      const data = JSON.stringify({content, post_id: {{post.id}}});

      $.ajax({
        type: "post",
        url: "{% url 'add_comment' %}",
        data: {
          post_id: {{post.id}},
          content: content,
          email: email,
          author: name,
          action: 'post',
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val(),
        },
        success: function (response) {
          response = JSON.parse(response);
          counts = response['counts']
          var a = document.getElementById("post_comments");
          date = new Date();
          a.insertAdjacentHTML('afterbegin', `
          <div id="" class="my-2 p-2" style="border: 1px solid grey">
                <div class="d-flex justify-content-between">
                    <div><small>${name}</small></div>
                    <div><small>${date.toDateString()}</small></div>
                </div>
                <span class="badge badge-success my-3" id="like_${counts}">Likes  </span>
                <span class="badge badge-danger m-3" id="dislike_${counts}">Dislikes  </span>
                <div class="text-dark">${ content }</div>

              
                <button class="btn btn-outline-success my-3" id="like_btn_${counts}" onclick="like(${counts}, 'like')">Like</button>
                <button class="btn btn-outline-danger m-3" id="dislike_btn_${counts}" onclick="like(${counts}, 'dislike')">Dislike</button>

                <hr>
            
            </div>

          `);
        }
      });

     });

    function myFunction(id) { 
      if (document.contains(document.getElementById("newForm"))) {
        document.getElementById("newForm").remove();
      }

      var a = document.getElementById(id);
      a.insertAdjacentHTML('afterend', `
      <form class="form-insert py-2" id="newForm" method="post">
      <div class="d-flex justify-content-between">
      <div><h2>جواب:</h2></div>
      <div><button type="button" class="btn btn-outline-danger" onclick="formExit()">بستن</div>
      </div>
      <label for="id_name">نام:</label>
      <input type="text" name="name" class="col-sm-12" maxlength="50" id="id_name" required="">
      <select name="parent" id="id_parent" class="d-none">
        <option value="${id}" selected="${id}" ></option>
      </select>
      <label for="id_email">ایمیل</label>
      <input type="text" name="email" id="id_email" class="col-sm-12" maxlength="254" required="">
      <label for="id_content">متن:</label>
      <textarea name="content" id="id_content" cols="40" rows="5" class="form-control" required style="resize: none;"></textarea>
      {% csrf_token %}
      <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
    </form>`);
    }

    function formExit() {
      document.getElementById("newForm").remove();
    }
    $('#myForm').trigger("reset");

    function like(id, like_type) {
      $.ajax({
        type: "post",
        url: "{% url 'like_comment' %}",
        data: {
          id: id,
          like_type: like_type,
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val(),
          action: 'post',
        },
        success: function (json) {
          json = JSON.parse(json)
          like_counts = json['like_counts']
          if (like_type == 'like'){
            e_id = "like_" + id;
            string = "Like ";
            document.getElementById("like_btn_" + id).className = "btn btn-success";
            }
          else  {
            e_id = "dislike_" + id;
            string = "Dislikes ";
            document.getElementById("dislike_btn_" + id).className = "btn btn-danger";
          }
          // element = document.getElementById(e_id);
          document.getElementById(e_id).innerHTML = string + like_counts;
          document.getElementById("like_btn_" + id).disabled = true;
          document.getElementById("dislike_btn_" + id).disabled = true;
        },
        error: function() {alert('error in liking')}
      });
    }
  </script>
{% endblock javascript %}